@font-face {
  font-family: "noto-serif-bold";
  src: url("../fonts/noto-serif/NotoSerif-Bold.ttf");
}

@font-face {
  font-family: "open-sans-bold";
  src: url("../fonts/open-sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "open-sans-reg";
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("../fonts/roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto-reg";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf");
}