@mixin flex-center($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

// @include flex-center(row);
// @include flex-center(column);

@mixin flex-start($direction) {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: $direction;
}

// @include flex-start(row);
// @include flex-start(column);

@mixin justify-flex-between($direction) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}

// @include justify-flex-between(row);
// @include justify-flex-between(column);

@mixin justify-flex-start($direction) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: $direction;
}

// @include justify-flex-start(row);
// @include justify-flex-start(column);


@mixin justify-flex-end($direction) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: $direction;
}

// @include justify-flex-end(row);
// @include justify-flex-end(column);

@mixin align-flex-start($direction) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: $direction;
}

// @include align-flex-start(row);
// @include align-flex-start(column);

@mixin background-fill {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// @include background-fill;

@mixin image-cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// @include image-cover;