.section {
  margin: 3rem 0;
  padding: 0 1rem;

  &--site-header {
    margin: 0;
  }

  &--home-hero {
    margin: 0;
  }

  &--block-text-with-image {
    margin: 3rem 0 0;
    padding: 3rem 1rem;
  }

  &--block-events-listing {
    margin: 0;
    padding: 0 1rem 3rem;
  }

  &--footer {
    margin: 0;
    padding: 3rem 1rem;
  }
}

.site-header {
  &__nav {
    pane-content {
      padding: 3rem 1rem;
    }
  }
}



// Start of MQ's
@media screen and (min-width: 576px) {
  .section {
    margin: 4rem 0;
    padding: 0 4rem;

    &--site-header {
      margin: 0;
    }

    &--home-hero {
      margin: 0;
    }

    &--block-text-with-image {
      margin: 4rem 0 0;
      padding: 4rem;
    }

    &--block-events-listing {
      margin: 0;
      padding: 0 4rem 4rem;
    }

    &--footer {
      margin: 0;
      padding: 4rem;
    }
  }

  .site-header {
    &__nav {
      pane-content {
        padding: 4rem;
      }
    }
  }
}

// @media screen and (min-width: 992px) {
//   .section {
//     margin: 4rem 0;
//     padding: 0 4rem;

//     &--site-header {
//       margin: 0;
//     }

//     &--home-hero {
//       margin: 0;
//     }

//     &--block-text-with-image {
//       margin: 4rem 0 0 ;
//       padding: 4rem;
//     }

//     &--block-events-listing {
//       margin: 0;
//       padding: 0 4rem 4rem;
//     }

//     &--footer {
//       margin: 0;
//       padding: 4rem;
//     }
//   }
// }

@media screen and (min-width: 1400px) {
  .section {
    margin: 8rem 0;
    padding: 0 8rem;

    &--site-header {
      margin: 0;
    }

    &--home-hero {
      margin: 0;
    }

    &--block-text-with-image {
      margin: 8rem 0 0 ;
      padding: 8rem;
    }

    &--block-events-listing {
      margin: 0;
      padding: 0 8rem 8rem;
    }

    &--footer {
      margin: 0;
      padding: 8rem;
    }
  }

  .site-header {
    &__nav {
      pane-content {
        padding: 8rem;
      }
    }
  }
}
// End of MQ's