.block-accordion {
  &__accordion-wrapper {
    border-bottom: 4px solid $color-black;
    padding: 0 0 1rem;
    @include justify-flex-between(row);

    h3 {
      margin-bottom: 0;
      padding-right: 1rem;
      width: 90%;
    }
  }

  &__icon {
    display: block;
    transition: all .4s ease-in-out;
    width: 2rem;
  }

  &__panel-wrapper {
    display: none;
    padding: 1.5rem 0 0.1rem;
  }
}

.rotate {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}