.block-quote-slider {  
  &__section {
    background-color: rgb(214, 132, 177);

    // display: none;
  }

  &__container {
    // position: relative;
    // z-index: 2;
  }

  &__row {

  }

  &__col {

  }

  &__title {

  }

  &__slider-container {
    // position: relative;
  }

  &__slider {

  }

  &__inner-info-container {
    @include flex-center(row);
  }

  &__image-wrapper {
    width: 215px;
    height: 215px;
  }

  &__image {
    border-radius: 200px;
    @include image-cover;
  }

  &__info-wrapper {
  
  }

  &__date {

  }

  &__intro {

  }
}



// Start of MQ's
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {

}
// End of MQ's