.block-text-with-image {
  &__section {
    position: relative;
    background-color: $color-blue;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      top: 70%;
      right: 0;
      left: 0;
      // z-index: 1;
      background: $color-white;
    }
  }

  &__container {
 
    position: relative;
    z-index: 1;
  }

  &__row {

  }

  &__col {

  }

  &__info-container {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: -30px;
    left: -40px;
    width: 100px;
  }

  &__info-wrapper {
    position: relative;
  }

  &__image-wrapper {
    position: relative;
  }

  &__image {
    border-radius: 5px;
    @include image-cover;
  }
}



// Start of MQ's
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {
  .block-text-with-image {
    &__section {
      text-align: left;

      &::before {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .block-text-with-image {
    &__icon {
      top: -70px;
      left: -70px;
      width: initial;
    }
  }
}
// End of MQ's