// Reset / Global styles

// col-12 for under
// col-sm for tablets 
// col-lg for desktops

// large similar to 1024 break point
// ie. max 991px

// mobile breakpoint similar to 600
// ie. max 575px


// 1643 12
// 1365 10
// was xxl now fluid

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  line-height: normal;
  -webkit-font-smoothing: antialiased;

  font-family: $roboto-light;
  background-color: $color-white;
  color: $color-grey-dark;

  overflow-x: hidden;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  p,
  ul, ol,
  li {
    margin: 0;
    margin-bottom: 1rem;
  }

  h1 {
    font-family: $noto-serif-bold;
    line-height: 110%;
  }

  h2 {
    font-family: $noto-serif-bold;
    // line-height: %;
  }

  h3 {
    font-family: $noto-serif-bold;
    line-height: 140%;
  }

  h4 {
    font-family: $noto-serif-bold;
    line-height: 150%;
  }

  h5 {
    font-family: $noto-serif-bold;
    // line-height: %;
  }


  h6 {
    font-family: $noto-serif-bold;
    // line-height: %;
  }

  p {
    line-height: 195%;
  }

  ul, ol {
    line-height: 195%;

    li {

    }
  }

  a {
    transition: all 0.2s ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}

// Font Media Queries
// h1 85px - 36px
// h2 50px - 35px
// h3 35px - 20px
// .button 22px - 16px
// h4 30px - 20px
// h5 25px - 25px
// h6 18px - 18px
// p 17px - 17px

@media (max-width: 479px) { h1 { font-size: 2.25rem; }}
@media (min-width: 480px) { h1 { font-size: calc(2.25rem + ((1vw - 0.3rem) * 4.0164)); }}
@media (min-width: 1701px) { h1 { font-size: 5.3125rem; }}

@media (max-width: 479px) { h2 { font-size: 2.1875rem; }}
@media (min-width: 480px) { h2 { font-size: calc(2.1875rem + ((1vw - 0.3rem) * 1.2295)); }}
@media (min-width: 1701px) { h2 { font-size: 3.125rem; }}

@media (max-width: 479px) { h3 { font-size: 1.25rem; }}
@media (min-width: 480px) { h3 { font-size: calc(1.25rem + ((1vw - 0.3rem) * 1.2295)); }}
@media (min-width: 1701px) { h3 { font-size: 2.1875rem; }}

@media (max-width: 479px) { .button { font-size: 1rem; }}
@media (min-width: 480px) { .button { font-size: calc(1rem + ((1vw - 0.3rem) * 0.4918)); }}
@media (min-width: 1701px) { .button { font-size: 1.375rem; }}

@media (max-width: 479px) { h4 { font-size: 1.25rem; }}
@media (min-width: 480px) { h4 { font-size: calc(1.25rem + ((1vw - 0.3rem) * 0.8197)); }}
@media (min-width: 1701px) { h4 { font-size: 1.875rem; }}

@media (max-width: 479px) { h5 { font-size: 1.5625rem; }}
@media (min-width: 480px) { h5 { font-size: calc(1.5625rem + ((1vw - 0.3rem) * 0.0000)); }}
@media (min-width: 1701px) { h5 { font-size: 1.5625rem; }}

@media (max-width: 479px) { h6 { font-size: 1.125rem; }}
@media (min-width: 480px) { h6 { font-size: calc(1.125rem + ((1vw - 0.3rem) * 0.0000)); }}
@media (min-width: 1701px) { h6 { font-size: 1.125rem; }}

@media (max-width: 479px) { p { font-size: 1.0625rem; }}
@media (min-width: 480px) { p { font-size: calc(1.0625rem + ((1vw - 0.3rem) * 0.0000)); }}
@media (min-width: 1701px) { p { font-size: 1.0625rem; }}



// ie.
// h1 52px - 34px
// h2 32px - 28px
// h3 26px - 24px
// h4 22px - 20px
// h5 20px - 18px
// h6 14px - 14px
// p 18px - 14px