.site-footer {
  &__section {
    &--logos {
      background-color: $color-blue-pale;
    }

    &--main {
      background-color: $color-blue-dark;
    }
  }

  &__col {
    &--logos {
      flex-wrap: wrap;
      @include justify-flex-between(row);
    }
  }
}