.site-footer {
  &__section {
    &--logos {
      background-color: $color-blue-pale;
    }

    &--main {
      background-color: $color-blue-dark;
      color: $color-white;
    }
  }

  &__row {
    &--menu {
      margin-bottom: 3rem;
    }
  }

  &__col {
    &--logos {
      flex-wrap: wrap;
      @include justify-flex-between(row);
    }

    &--main-top {
      @include justify-flex-start(column);

      .socials__container {
        display: none;
      }
    }

    &--menu {
      @include justify-flex-start(column);
    }

    &--copyright {
      @include justify-flex-start(column);
    }

    &--item {
      display: none;
    }
  }
  
  &__featured-logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;

    &:first-of-type {
      justify-content: flex-start;
    }

    &:last-of-type {
      justify-content: flex-end;
    }
  }

  &__featured-logo {
    display: block;
    
    &--one {
      width: 80%;
    }

    &--two {
      width: 50%;
    }

    &--three {
      width: 40%;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 2rem;
    width: 140px;
  }

  &__text {
    margin-bottom: 4rem;
    width: 100%;
    text-align: center;
  }

  &__menu-title {
    color: $color-blue;
    margin-bottom: 2rem;
  }

  &__menu-container {
    @include flex-start(row);
  }

  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    font-size: 21px;
    font-family: $open-sans-reg;

    &:first-of-type {
      margin-right: 1rem;
    }

    li {
      a {
        text-decoration: none;
        color: $color-white;
      }
    }
  }

  span {
    font-size: 18px;
    font-family: $open-sans-reg;
    line-height: 195%;

    &.site-footer__copyright {
      margin-top: 1rem;
      text-align: center;
    }

    &.site-footer__item {
      border-left: 1px solid $color-white;
      padding: 0 1rem;

      &:first-of-type {
        border: none;
        padding-left: 0;
      }

      &:last-of-type {
        // border: none;
        padding-right: 0;
      }
    }
  }
}



// Start of MQ's
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {
  .site-footer {
    &__row {
      &--menu {
        margin-bottom: 5rem;
      }
    }

    &__col {
      &--main-top {
        display: block;

        .socials__container {
          display: flex;
        }
      }

      &--menu {
        display: block;
      }

      &--copyright {
        display: block;

        .socials__container {
          display: none;
        }
      }

      &--item {
        display: block;
      }
    }

    &__logo {
      width: initial;
    }

    &__text {
      width: 60%;
      text-align: left;
    }

    ul {
      text-align: left;

      &:first-of-type {
        margin-right: 5rem;
      }
    }

    span {
      &.site-footer__copyright {
        margin-top: 0;
        text-align: left;
      }
    }
  }
}
// End of MQ's