.socials {
  &__container {
    @include justify-flex-start(row);
  }

  &__link {
    display: block;
    margin: 0 2rem 0 0;
    text-decoration: none;
  }

  &__icon {
    // width: 22px;
    height: 18px;
  }
}

.site-footer {
  .socials {
    &__link {
      margin: 0 1rem;
    }
  }
}



// Start of MQ's
@media screen and (min-width: 576px) {
  .socials {  
    &__link {
      margin: 0 3rem 0 0;
    }
  
    &__icon {
      height: initial;
    }
  }

  .site-footer {
    .socials {
      &__link {
        margin: 0 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .site-footer {
    .socials {
      &__link {
        margin: 0 3rem 0 0;
      }
    }
  }
}
// End of MQ's