.home-hero {
  position: relative;
  background-color: $color-blue;
  height: 100vh;

  &__mask {
    position: absolute;
    top: -650px;
    right: -750px;
    z-index: 1;
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 100%;
  }

  &__container {
    position: relative;
    z-index: 1;
    height: calc(100% - 120px);
  }

  &__row {
    height: 100%;
  }

  &__col {

  }
  
  &__info-container {
    position: relative;
    height: 100%;
    @include justify-flex-end(row);
  }

  &__info-wrapper {
    position: absolute;
    // right: 25%;
    z-index: 1;
  }

  &__title {
    margin-bottom: 4rem;
    color: $color-white;
  }

  &__image-wrapper {
    position: relative;
    height: 100%;
  }

  &__image {
    border-radius: 5px;
    @include image-cover;
  }
}



// Start of MQ's
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {
  .home-hero {
    &__section {
      align-items: center;
    }

    &__container {
      height: 55%;
    }

    &__info-wrapper {
      right: 25%;
    }
  }
}
// End of MQ's