.home-hero {
  position: relative;
  background-color: $color-blue;
  height: 100vh;

  &__mask {
    position: absolute;
    z-index: 1;

    &--mobile {
      top: -230px;
      right: -280px;
      bottom: initial;
    }

    &--desktop {
      display: none;
    }
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    height: 100%;
  }

  &__container {
    position: relative;
    z-index: 1;
    height: calc(100% - 120px);
  }

  &__row {
    height: 100%;
  }

  &__col {

  }
  
  &__info-container {
    position: relative;
    height: 100%;
    @include justify-flex-end(row);
  }

  &__info-wrapper {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    // right: 25%;
    z-index: 1;
    height: 100%;
  }

  &__title {
    margin-bottom: 0;
    color: $color-white;
  }

  &__image-wrapper {
    position: relative;

    &--desktop {
      display: none;
    }

    &--mobile {
      align-self: stretch;
      height: 50%;
    }
  }

  &__image {
    border-radius: 5px;
    @include image-cover;
  }
}



// Start of MQ's
@media screen and (min-width: 576px) {

}

@media screen and (min-width: 992px) {
  .home-hero {
    &__mask {  
      &--mobile {
        top: 0;
        right: -130px;
        bottom: 0;
      }
    }

    &__section {
      align-items: center;
    }

    &__container {
      height: 55%;
    }

    &__info-wrapper {
      display: block;
      position: absolute;
      right: 25%;
      height: initial;
    }

    &__title {
      margin-bottom: 4rem;
    }

    &__image-wrapper {
      &--desktop {
        display: block;       
        height: 100%;
      }

      &--mobile {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .home-hero {
    &__mask {  
      &--mobile {
        display: none;
      }

      &--desktop {
        display: block;
        top: -440px;
        right: -520px;
        height: 2650px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .home-hero {
    &__mask {  
      &--desktop {
        top: -550px;
        right: -640px;
        height: 3280px;
      }
    }
  }
}

@media screen and (min-width: 1601px) {
  .home-hero {
    &__mask {    
      &--desktop {
        top: -650px;
        right: -750px;
        height: initial;
      }
    }
  }
}
// End of MQ's